html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #232621;
}


.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: serif;
  color: #E5EBEA;
  border: 0px solid;
  transition-property: border-bottom;
  transition-duration: 0.2s;
}

.menu a:visited:hover, a:hover {
  /*background-color: ;*/
  color: #00FFE5;
  border-bottom: 10px solid #00FFE5;

}

.menu a:visited {
  color: #E5EBEA;
}

@media all and (max-width: 600px) {
  .menu ul {
    /**
     * Full width navigation items
     */
    flex-flow: column wrap;
    padding: 0;
  }
}
